[Desktop Entry]
Encoding=UTF-8
Name=Link to NeoPixels Revealed: How to (not need to) generate precisely timed signals | josh.com
Type=Link
URL=http://wp.josh.com/2014/05/13/ws2812-neopixels-are-not-so-finicky-once-you-get-to-know-them/
Icon=text-html
